@keyframes moveBackground {
  0% {
    background-position: 100% 0; 
  }
  100% {
    background-position: 0 0; 
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

html, body, #root {
  background-color: #efefef;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  background-image: url('./components/header/header.jpg');
  background-position: center;
  width: 100%;
  height: 240px;
  border-radius: 5px 5px 0px 0px;
  animation: moveBackground 20s linear infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tituloHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  width: 100%;
  height: 200px;
  color: #fff;
}

#subtituloHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  width: 100%;
  height: 200px;
  color: #fff;
}

#catalogo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.homePage {
  flex: 1;
  height: 40px;
  background: linear-gradient(to right, #FF8225, #B43F3F);
  color: #fff;
  font-size: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #000;
  transition: background 0.7s, border-color 0.7s;
}

.homePage:hover {
  background: linear-gradient(to right, rgb(248, 237, 237), #B43F3F);
  border-color: #fff; 
  cursor: pointer;
  transition: background 0.7s, border-color 0.7s;
}

.container {
  background: linear-gradient(to bottom, #000, #333);
  color: #fff;
  min-height: 75%;
  width: 100%;
  border: #ffffff2f solid 1px;
}

#saldo {
  color: #fff;
  margin-left: auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(51, 51, 51, 0.7));
  font-size: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #000;
  width: 14vw;
  height: 5vh;
}
